@import "tailwindcss";

@theme {
  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --color-black: #000000;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
